.header{
    background:$color-white; padding:15px 30px 15px 30px; display:flex; flex-wrap:wrap; align-items:center;
    @include desktop{
        padding:15px 15px 15px 15px;
    }
    @include tabletwide{
        padding:10px 15px 10px 15px;
    }
    .menu-toggle{
        padding-right:15px; background:none; display:none; border:none;
        i{width:30px; height:30px; font-size:30px; line-height:34px; color:$primary_color;}
        @include tabletwide{
            display:inline-block;
        }
    }
    .logo{
        width:295px;
        img{max-width:245px;}
        @include desktop{
            width:211px;
            img{max-width:200px;}
        }
        @include tabletwide{
            width:160px;
            img{max-width:154px;}
        }
        @include phonewide{
            width:110px;
            img{max-width:105px;}
        }
    }
    .breadcrum{
        display:flex; align-items:center; padding:0 0 0 12px;
        span{padding:0 18px;}
        a{
            color:$color-black;
            &:hover{color:$primary_color;}
        }
        @include desktop{
            span{padding:0 10px;}
        }
        @include tabletwide{
            span{padding:0 5px;}
        }
        @include phonewide{
            display:none;
        }
    }
    .header-right{
        display:flex; flex-wrap:wrap; align-items:center;
        .btn{font-size:20px; height:46px; position:relative; line-height:1; width:50px; padding-left:10px; padding-right:10px; margin-right:17px;}
        @include phonewide{
            .btn{margin-right:10px;}
        }
        .dropdown-menu{
            border:none; border-radius:0 0 8px 8px;
        }
        .search-btn{
            position:relative; margin-right:17px;
            .search-input{
                height:46px; width:0px; transition:width 0.3s ease; position:absolute; right:0px; top:0px; font-size:15px; line-height:46px; padding:0 15px; background:$color-btnLight; border:none; border-radius:8px; display:block; 
                &:focus{outline:none; box-shadow:none;}
            }
            &.show-search{
                .search-input{width:300px;}
                @include desktop{
                    .search-input{width:275px;}
                }
                @include phonewide{
                    .search-input{width:220px; padding:0 15px;}
                }
            }
            @include desktop{
                .search-input{height:38px; line-height:38px; }
            }
            @include tabletwide{
                .search-input{height:32px; line-height:32px; }
            }
            @include phonewide{
                margin-right:10px;
                .search-input{padding:0px; font-size:12px; }
            }
        }
        .bell-btn{
            position:relative;
            .dot{width:12px; height:12px; border:2px solid $color-white; background:#F90909; border-radius:100%; position:absolute; right:-3px; top:-4px;}
            .dropdown-menu{
                width:300px; right:0px !important; top:calc(100% + 10px) !important; left:auto !important; float:none; transform:translate3d(0px, 0px, 0px) !important;
            }
            .notification-row{
                .notification-colum{
                    border-bottom:1px solid $border-color; padding:10px 20px;
                    h5{@include fontrem(18px, 22px); font-weight:500; color:$color-black; margin:0px; padding:0 0 2px; }
                    p{@include fontrem(16px, 22px); font-weight:400; color:$color-black; margin:0px; padding:0 0 5px; }
                    span{@include fontrem(14px, 20px); color:#91A1BC;}
                }
            }
            .viewall-notification{
                display:block; text-align:center; @include fontrem(18px, 24px); font-weight:500; color:$color-black; padding:15px 20px;
                &:hover{color:$primary_color;}
             }
        }
        .mr-btn{
            position:relative;
            .btn{
                 overflow:hidden; margin-right:0px; padding:0px;
                .text{color:$color-Blue; text-transform:uppercase; font-size:16px; line-height:48px; font-weight:700; display:block;}
                img{width:100%; height:100%; object-fit:cover; border-radius:8px;}
                @include desktop{
                    .text{line-height:38px;}
                }
                @include tabletwide{
                    .text{line-height:34px; font-size:14px;}
                }
            }
            .dot{width:12px; height:12px; border:2px solid $color-white; background:#00B9B6; border-radius:100%; position:absolute; right:-3px; top:-4px;}
            .dropdown-menu{
                width:320px; right:0px !important; top:calc(100% + 10px) !important; padding:0px; left:auto !important; float:none; transform:translate3d(0px, 0px, 0px) !important;
                .companyname{@include fontrem(18px, 22px); font-weight:400; color:$color-black; padding:20px 20px 25px; }
            }
            .userprofile-row{
                display:flex; flex-wrap:wrap; padding:0 20px 30px;
                .userprofile-pic{
                    width:88px; height:88px; background:$color-btnLight; border-radius:100%; overflow:hidden;
                    .text{color:$color-Blue; text-transform:uppercase; font-size:34px; line-height:88px; text-align:center; font-weight:500; display:block;}
                    img{width:100%; height:100%; object-fit:cover; border-radius:100%;}
                }
                .userprofile-text{
                    padding:5px 0 0 20px; width:calc(100% - 88px);
                    h4{@include fontrem(20px, 24px); font-weight:500; color:$color-black; margin:0px; padding:0 0 3px; }
                    p{@include fontrem(16px, 20px); overflow:hidden; text-overflow:ellipsis; font-weight:400; color:$color-black; margin:0px; }
                    .userprofile-link{
                        padding:12px 0 0;
                        li{
                            a{color:$primary_color; @include fontrem(17px, 22px); letter-spacing:0.5px;}
                        }
                    }
                }
            }
            .userprofile-logout{@include fontrem(20px, 24px); font-weight:500; background:$color-btnLight; color:$color-Blue; display:block; padding:15px 20px; text-align:center;}
        }
        .user-info{
            padding:0 0 0 7px; position:relative;
            .user-info-link{
                font-size:14px; background:none; border:none !important; text-align:left; color:$border-color2; position:relative; padding-right:20px; min-width:215px; display:inline-block;
                span{display:block; color:$color-black; font-size:16px; line-height:22px; font-weight:700;}
                i{color:$border-color2; position:absolute; right:0px; top:7px; font-size:14px; }
                @include desktop{
                    font-size:12px; margin-top:5px; min-width:190px;
                    span{font-size:14px; line-height:16px;}
                }
            }
        }
        @include desktop{
            .btn{height:38px; width:42px; font-size:16px; padding-top:10px;}
            .mr-btn{
                .btn{font-size:14px; line-height:20px;}
            }
        }
        @include tabletwide{
            .btn{height:32px; width:36px; font-size:14px; padding:9px 8px;}
            .mr-btn{
                .btn{font-size:14px; line-height:20px;}
            }
        }
    }
}