.common-tab {
    .nav-tabs{
        border:none; display:flex; flex-wrap:wrap; border-bottom:1px solid $border-color;
        li{
            padding:0 15px; margin:0px;
            .nav-link{
                @include fontrem(20px,24px); color:$color-black; position:relative; font-weight:400; padding:10px 20px; margin:0; background:transparent !important; border:none !important; 
                &:before{content:""; height:2px; width:0%; position:absolute; left:0; bottom:0px; background:$color-Blue; transition:all 0.3s ease;}
                &.active{
                    font-weight:700;
                    &:before{width:100%;}
                }
            }
        }
    }
	.tab-content{
        padding:40px 33px 30px;
        @include desktop{
            padding:20px 20px 20px;
        }
    }
}